.main {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

table tr {
  margin-bottom: 12px;
}

.label {
  padding-right: 14px;
  padding-bottom: 20px;
}

.content {
  padding-bottom: 18px;
}

.name {
  padding: 4px;
  width: 600px;
}

.description {
  padding: 4px;
  width: 600px;
}

.btn {
  margin-top: 12px;
  margin-right: 4px;
}
