{% extends "base.html" %}

{% block content %}
  <div class="category-list">
    <p>
      Categories
      </br>
    </p>
    {% for i in categories %}
      {% if i.id == category_id %}
        {{i.name}}
      {% else %}
        <a href="{{url_for('showCatalog', category_id=i.id)}}">{{i.name}}</a>
      {% endif %}
    {% endfor %}
  </div>
  <div class="item-list">
    <p>
      Items
      </br>
    </p>
    {% if 'username' in session %}
      <a href="{{url_for('add')}}">Add an item</a>
      </br></br>
    {% endif %}
    {% for i in catalogItems %}
      <a href="{{url_for('showItem', category_id=i.category_id,
      item_id=i.id)}}">{{i.name}}</a>
      {% if session.user_id == i.user_id %}
        </br>
        <a href='{{url_for('editItem', category_id=i.category_id,
        item_id=i.id)}}'>
          Edit
        </a>
        </br>
        <a href='{{url_for('deleteItem', category_id=i.category_id,
        item_id=i.id)}}'>
          Delete
        </a>
      {% endif %}
      </br></br>
    {% endfor %}
  </div>
{% endblock %}
