{% extends 'base.html' %}

{% block scripts %}
  <link href="/static/css/delete.css" rel="stylesheet"/>
{% endblock %}


{% block content %}
<div class="main">
<div class="container text-center">
  <h1> Are you sure you want to delete {{item.name}}? </h1>
</div>
<div class="container text-center">
  <form action="{{ url_for('deleteItem', category_id=item.category_id,
  item_id=item.id)}}" method='POST'>
    <a class="btn btn-primary" href="{{ url_for('showItem',
    category_id=item.category_id, item_id=item.id)}}">
    Cancel
    </a>
    <input class="btn btn-primary" type='submit' , value='Delete'>
  </form>
</div>
</div>
{% endblock %}
