{% extends "base.html" %}

{% block content %}
  <div class="catalog-item">
    <h1>{{item.name}}</h1>
    </br>
    <a href="{{ url_for('showCatalog', category_id=item.category_id)}}">
    Back
    </a>
    <p>{{category.name}}</p>
    </br>
    <p>{{item.description}}</p>
    {% if session.user_id == item.user_id %}
      </br>
      <a href='{{url_for('editItem', category_id=item.category_id,
      item_id=item.id)}}'>
        Edit
      </a>
      </br>
      <a href='{{url_for('deleteItem', category_id=item.category_id,
      item_id=item.id)}}'>
        Delete
      </a>
    {% endif %}
  </div>
{% endblock %}
